{% extends "base.html" %}
{% block title %} blog title {% endblock title %}
{% block content %}
<div class="row text-center vertical -middle -sm">
    <h1>我的博客</h1>
</div>
<div class="row">
    <div class="col-xc-12 col-md-8">
        <ul>
            
            {% for blog in blogs  %}
            {% comment %} {{ blog.title }} {% endcomment %}
                <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
            {% endfor %}
                
        </ul>
    </div>
</div>
{% endblock %}